* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top,#010030, #160078, #7226ff);
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(to top,#3785D8, #ADC6E5, #CBD8E8);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #EBFFFC;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 18px;
  flex: 1;
}
.search button {
  border: 0;
  outline: 0;
  background: #EBFFFC;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.search button img {
  width: 60px;
}

.weather-icon {
  width: 500px;
  image-rendering: pixelated;
  align-items: center;
  margin-left: -48px;
  margin-bottom: 0px;
  margin-top: -25px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: -150px;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 45px;
}
.details img {
  width: 80px;
  margin-right: 2.5px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col p {
  font-weight: 100px;
}
